[submodule "src/sindri/mjolnir-website/themes/lektor-icon"]
	path = src/sindri/website/mjolnir-website/themes/lektor-icon
	url = https://github.com/hamma-dev/lektor-icon.git
	branch = mjolnir-improvements
