[submodule "src/sindri/mjolnir-website/themes/lektor-icon"]
	path = src/sindri/website/mjolnir-website/themes/lektor-icon
	url = https://github.com/project-mjolnir/lektor-icon.git
	branch = sindri-0.3.x
